// map.scrollWheelZoom.disable();
// map.fitBounds(layer.getBounds);

function clickToSetView (map, targetLayer) {
  targetLayer.eachLayer(function (layer) {
    layer.on('click', function () {
      map.setView(layer.getLatLng());
      });
    });
}

function addClusters (map,layer) {
  var clusterLayer = L.markerClusterGroup();
  clusterLayer.addLayer(layer);
  map.addLayer(clusterLayer);
}

function addVenues (map, geojson)  {
  $("#search-form").on("submit", function (event) {
    event.preventDefault();
    var self = this;
    var searchstring = $("#search").val();
    $.ajax({
      url: "/queries",
      data: {search: searchstring},
      success: handleSuccess
    })

    function handleSuccess (data) {
      $(".sidebar .row").html("");
      var newLayer = L.mapbox.featureLayer(data);
      deleteAllLayers(map)
      renderSidebar(data);
      sidebarNavigator(map);
      addClusters(map,newLayer);
      clickToSetView(map, newLayer);
      map.fitBounds(newLayer.getBounds());
    }
    
  })
    // deleteAllLayers(map);
    // $.ajax({
    //   url: "/index",
    //   data: {$("save-button").text()},
    //   success: function (data) {
    //     debugger
    //   }
    // })
    // var search_layer = L.mapbox.featureLayer(geojson);
    // addClusters(map,search_layer);
    // clickToSetView(map);
    // map.fitBounds(search_layer.getBounds());
}

function deleteAllLayers (map) {
  map.eachLayer(function(layer) {
    if (layer instanceof L.Marker) {
      map.removeLayer(layer);
    }
  });
}

function addMapSearchTool (map) {
  map.addControl(L.mapbox.geocoderControl('mapbox.places'));
}

function searchNearMe (map) {
  $("#retrieveLocation").on('click', function (event) {
    event.preventDefault();
    findMyLocation(map)
    var coords = $("#push_location").val();
    var URL = "/near_me?coords=" + coords + "";
    $.ajax({
      url: URL,
      success: handleSuccess,
      error: handleError
      });
   });

  function handleSuccess (data) {
    $(".sidebar .row").html("");
    var coords = $("#push_location").val();
    var newLayer = L.mapbox.featureLayer(data);
    deleteAllLayers(map)
    findMyLocation(map)
    renderSidebar(data);
    sidebarNavigator(map);
    addClusters(map,newLayer);
    clickToSetView(map, newLayer);
    map.fitBounds(newLayer.getBounds());
  }
}

function handleError(jqXHR, status, errorThrown) {
alert("Something wrong happened: " + status + ", " + errorThrown);
};

function sidebarNavigator (map) {
  $(".venue").on('click', 'h3', function () {
    var self = this;
    map.setView([self.dataset.lat,self.dataset.lng], 16);
  });
}

function findMyLocation (map) {
  if (navigator.geolocation) {
    console.log('getting location');
    navigator.geolocation.getCurrentPosition(onLocation, onError);
  }

  function onLocation (position) {
    console.log("Location Found!");
    $("#push_location").val([position.coords.latitude, position.coords.longitude]);

    var marker = L.mapbox.featureLayer({    
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: [
              position.coords.longitude,
              position.coords.latitude
            ]
        },
        properties: {
            title: 'You are here!',
            'marker-size': 'large',
            'marker-color': '#ff8888',
            'marker-symbol': 'star'
        }
    }).addTo(map);
    clickToSetView(map,marker);
  }

  function onError (err) {
    alert("Could not locate your current position, " + err)
  }
}


function renderSidebar (data) {
  var html = "";
  data.forEach(function (venue) {
        html += "<div class='thumbnail venue'><img src='" + venue.properties.image_url + 
          "'><div class='caption'><form class='venue-form' method='post' action='/saved'><a class='pointer'><h3 data-lat='" +
          venue.geometry.coordinates[1] + "' data-lng= '"+ venue.geometry.coordinates[0] +
          "'>" + venue.properties.title + "</h3></a><p>" + venue.properties.description +
          "</p><p> Rating: " + venue.properties.rating + "</p><p>" + "</p><p> Category: " +
          venue.properties.category + "</p><p><button class='btn btn-primary save-button'" + 
          " type='submit'>Save</button><button class='btn btn-default more-info' data-toggle='modal' data-target='#myModal' type='submit'>" +
          "More Info</button></p><p class='venue-id' hidden>" + venue.properties.venue_id +
          "</p></form></div></div>";
      });
  $(".sidebar .row").append(html);

  showModal();
}

function saveVenue () {
  $("body").on("submit", ".venue-form", function (event) {
    event.preventDefault();
    var self = this;
    if (gon.current_user) {
      $.post(
        "/saved",
        {venue_id: $(self).children(".venue-id").text()},
        function (data) {
          if (data.saved === true) {
            $(self).parent(".caption").prepend("You have already saved this place! Go to 'My Saved Places'")
          } else {
            var saved = $(self).children("p").children(".save-button")
            saved.empty();
            saved.text("Saved!");
          }
        }
      );
    } else {
      alert("You must be signed in to access this feature.")
    }
    });
}

function showSavedPlaces (map) {
  $(".saved-places").on('click', function (event) {
    event.preventDefault();
    $.ajax({
      url: "/saved_places",
      success: showPlaces,
      error: handleError
    })

    function showPlaces (data) {
      deleteAllLayers(map)
      var newLayer = L.mapbox.featureLayer(data)
      addClusters(map,newLayer);
      clickToSetView(map, newLayer);
      map.fitBounds(newLayer.getBounds());
    }
  });
}








