// map.scrollWheelZoom.disable();
function clickToSetView (map) {
 map.eachLayer(function (layer) {
    layer.on('click', function (e) {
      map.setView(e.layer.getLatLng());
    });
   });
}


function clickToSetView2 (map, targetLayer) {
  targetLayer.eachLayer(function (layer) {
    layer.on('click', function () {
      map.setView(layer.getLatLng());
      });
    });
}


function addClusters (map,layer) {
  var clusterLayer = L.markerClusterGroup();
  clusterLayer.addLayer(layer);
  map.addLayer(clusterLayer);
}


function addVenues (map, geojson)  {
  var addLayer = L.mapbox.featureLayer(geojson);
  clickToSetView(map);
  addClusters(map,addLayer);
}

function addMapSearchTool (map) {
  map.addControl(L.mapbox.geocoderControl('mapbox.places'));
}

function searchNearMe (map) {
  $("#retrieveLocation").on('click', function (event) {
    event.preventDefault();
    var coords = $("#push_location").val();
    var URL = "/near_me?coords=" + coords + "";
    $.ajax({
      url: URL,
      success: handleSuccess,
      error: handleError
      });
   });

  function handleSuccess (data) {
    $(".sidebar .row").empty();
    var coords = $("#push_location").val();
    var newLayer = L.mapbox.featureLayer(data);;
    renderSidebar(data);
    sidebarNavigator(map);
    clickToSetView2(map, newLayer);
    addClusters(map,newLayer);
  }

  function handleError(jqXHR, status, errorThrown) {
  alert("Something wrong happened: " + status + ", " + errorThrown);
  };
}

function renderSidebar (data) {
  data.forEach(function (venue) {
        var contents = $(".sidebar .row").prepend(
          "<div class='thumbnail venue'><img src='" + venue.properties.image_url + 
          "'><div class='caption'><h3 data-lat='" + venue.geometry.coordinates[1] + 
          "' data-lng= '"+ venue.geometry.coordinates[0] + "'>" + venue.properties.title +
          "</h3><p>" + venue.properties.description + "</p><p> Rating: " + venue.properties.rating +
          "</p><p>" + "</p><p> Category: " + venue.properties.category + "</p><p>" +
          "<button class='btn btn-primary' type='submit'> Save </button>" +
          "<a href='#' class='btn btn-default' role='button'> Button </a></p></div></div>"
          );
      });
}

function sidebarNavigator (map) {
  $(".venue").on('click', 'h3', function () {
    var self = this;
    map.setView([self.dataset.lat,self.dataset.lng], 14)
  });
}

function findMyLocation (map) {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(onLocation, onError);
    console.log("Location Found!");
  }


  function onLocation (position) {
  $("#push_location").val([position.coords.latitude, position.coords.longitude]);
  
  var marker = L.mapbox.featureLayer({    
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [
            position.coords.longitude,
            position.coords.latitude
          ]
      },
      properties: {
          title: 'You are here!',
          'marker-size': 'large',
          'marker-color': '#ff8888',
          'marker-symbol': 'star'
      }
  }).addTo(map);
  clickToSetView2(map,marker);
}

  function onError (err) {
  alert("Could not locate your current position, " + err)
  }
}
