<div id="polina">
  <h1>Lazy Nomad</h1>
  <h4>Your Personal Concierge</h4>

  <%= button_to("Enter", queries_path, :method => "get", class: "enter") %>
  
</div>

  <div class="img-1"></div>
  <div class="img-2"></div>
  <div class="img-3"></div>

<script>
</script>

<style>

 


  }
</style>