<div id="polina">
  <h1>Lazy Nomad</h1>
  <h4>Your Personal Concierge</h4>

  
  <%= button_to("Enter", queries_path, :method => "get", class: "enter") %>

</div>

  <div class="img-1"></div>
  <div class="img-2"></div>
  <div class="img-3"></div>

<script>
</script>

<style>

  .img-1 {
    background-image: url('/assets/resort.jpg');
    background-repeat: none;
    background-size: 100%;
    height: 100vh;
  }

  .img-2 {
    background-image: url('http://4hdwallpapers.com/wp-content/uploads/2013/04/Eiffel-Sunset.jpg');
    background-repeat: none;
    background-size: 100%;
    height: 100vh;
  }

  .img-3 {
    background-image: url('http://download.chip.eu/ii/206507170_c7dea3a188.jpg');
    background-repeat: none;
    background-size: 100%;
    height: 100vh;
  }

  /*.img-4 {
    background-image: url('/assets/resort.jpg');
    background-repeat: none;
    background-size: 100%;
  }

  .img-5 {
    background-image: url('/assets/resort.jpg');
    background-repeat: none;
    background-size: 100%;
  }

  .img-6 {
    background-image: url('/assets/resort.jpg');
    background-repeat: none;
    background-size: 100%;*/
  }
</style>