#map {
	position:absolute; 
	top:0; 
	bottom:0;
  left: 0;
	height: 100%;
	width: 100%;
}

.input-field {
	width: 300px;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.sidebar {
	height: 100vh;
	overflow: auto;
}

.main {
  height: 100vh;
}

.navbar {
  margin-bottom: 0px;
  border-color: #F8F8F8;
}


.venue {
      margin-left: 5px;
      margin-right: 5px;
      background: #fff;
}

.venue :hover {
      background: #F2FEFF;
}

body {
  background-color: #F8F8F8;
}

.jumbotron {
  text-align: center;
  border-radius: 6px;
  background-color: #00A8E8;

}

.modal-images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  height: 50%;
  overflow-x: auto;
}

.modal-images li {
  display: inline;
  width: 300px;
  height: 150px;
  padding-right: 5px;
  padding-left: 5px;
}

.modal-image {
  max-height: 400px;
}

.modal-header {
  text-align: center;
}

.modal-body .tips {
  height: 200px;
  overflow: auto;
}

.user-tip :hover {
  background: #eee;
}

.pointer {
  cursor: pointer;
}

.venue-form a {
  text-decoration:none;
  text-align: center;
}

.venue-form p:first-of-type {
  text-align: justify;
}

.venue-form .features {
  text-align: justify;
} 

.venue-form .buttons {
  text-align: right;
}

.save-button {
    margin-right: 5px;
}

.save-button:hover {
  color: #fff;
  background-color: #286090;
  border-color: #285e8e; 
}

.more-info:hover {
  color: #fff;
  background-color: #286090;
  border-color: #285e8e; 
}

.near-me {
  margin-left: -20px;
  margin-top: 1px;
}

.btnLogMore {
  position: fixed;
  left: 100px;
  bottom: 200px;
}

#polina { 
    position: fixed;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 2rem;
    width: 60%;
    margin: 2rem;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#polina h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

#polina h4 {
  text-align: center;
}


.enter { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
.enter:hover { 
   background: rgba(0,0,0,0.5);
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}